.TopHeroes{
    list-style-type: none;
    display: inline-block;
    margin:0;
    padding:0;
    text-align: center;
}

.TopHeroes li{
    list-style-type: none;
    display: inline-block;
    margin:20px 20px 10px 35px;    
    background-color: darkslategray;

}

.TopHeroes li:hover{
    list-style-type: none;
    background-color: rgb(85, 142, 142)

}

.TopHeroes div{
    box-sizing:border-box;
    width: 140px;
    text-align: center;
    color: white;
    padding:0;
}

.Main_board{
    border: 1px solid gray;
    width: 1000px;
    margin-left: 10%;
    padding: 20px;
}