.HeroDetails{
    border: 1px solid lightslategray;
    padding: 20px;
    list-style-type: none;
    width: 600px;
    margin-left: 26%;
    display: flex;
}

button{
margin-left: 0px;
margin-top: 10px
}
.HeroInformation{
    margin: 20px;
}

img{
    
    max-height: 300px;
    max-width: 300px;
}


