.NewHeroForm{
    border: 1px solid lightgray;
    width: 900px;
    margin-left: 15%;
    padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.NewForm{
    margin: 15px;
    padding: 20px;
    display:flex;

}

.NewForm input{
    width: 200px;
    display: block;
}


.NewForm h4{
    font-weight: normal;
}

.information{
    width: 400px;

}

.input_field{
margin: 20px
}

button{
    margin-left: 40px;
    padding: 10px
}

img{
    border: 1px solid rgb(220, 220, 220);
    max-height: 270px;
    max-width: 400px;
    margin-top: 5px;
}
.Btn{
    margin-left: 20px ;
    height: 20px;
    text-align: center;
    padding-bottom: 25px;
}
.SampleImage{
    margin-left: 0px
}