*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;

}

.main_todo {
  margin: auto;
  margin-top: -60px !important;
  text-align: "center";
  width: 550px;
}

.info {
  color: #bfbfbf;
  text-align: center;
}

.info ul li a {
  color: #bfbfbf;
  display: "inline";
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

.title {
  color: #af2f2f26;
  font-size: 100px;
  font-weight: 100;
  margin-bottom: 0px;
}

.search-bar {
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.search-bar input {
  color: black;
  width: 100%;
  padding: 16px 16px 16px 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-style: none;
  font-size: 24px;
}
input:focus {
  outline: none;
}
.Toggle-all {
  position: absolute;
  transform: rotate(90deg);
  display: inline;
  font-size: 24px;
  color: #e6e6e6;
  background-color: none;
  padding: 18px 29px 12px 37px;
  height: 35px;
  margin: 0;
  border: none;
}

.Toggle-all-active {
  position: absolute;
  transform: rotate(90deg);
  display: inline;
  font-size: 24px;
  color: grey!important;
  background-color: none;
  padding: 18px 29px 12px 37px;
  height: 35px;
  margin: 0;
  border: none;
}

input::placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-size: 24px;
  font-weight: 300 !important;
}

.done {
  text-decoration: line-through;
  color: #e6e6e6 !important;
}

.info {
  font-size: 12px;
  margin-top: 60px;
  margin-left: -30px;
  margin-right: auto
}

.info ul li a {
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
  color: #bfbfbf !important;
}

.task_list {
  background-color: white;
  border: 0px black;
  box-sizing: border-box;
  border: 0px solid lightgrey;
  margin-top: -5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.items {
  border-top: 1px solid lightgrey;

  height: 55px;
  margin: 0px;
}

.delete-button {
  color: white;
  top: 0;
  right: 10px;
  bottom: 0;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 15px;
  margin: 20px 12px 0px 12px;
}

.delete-button:hover {
  color: #cc9a9a;
}

.update-button {
  text-align: center;
  width: 5px;
  height: auto;
  top: 0;
  bottom: 0;
  margin: 7px 20px 0px 12px;
  padding-right: 30px;
  /* padding-left: 20px;
  padding-right: 20px; */
  border: none;
}

.refine_options {
  background-color: white;
  box-sizing: border-box;
  border-top: 1px solid lightgrey;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  font-size: 13px;
  overflow: hidden;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.filter_options {
  margin: 15px;
  display: inline;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filter_options:hover {
  display: inline;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: rgba(175, 47, 47, 0.2);
}

.filter_options_selected {
  display: inline;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: rgba(175, 47, 47, 0.2);
}

.task_left {
  float: left;
  margin-right: 30px;
  margin-left: 18px;
  text-align: left;
}

.main_functions {
  background-color: white;
  box-shadow: outset 0 -1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  border: 0;
}

.edit_input {
  margin: 0px 1.4px 0px 64px;
  width: 500px;
  border: 0.5px solid black;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

.clear_complete:hover {
  text-decoration: underline;
}
